.btnAddProduct{
    text-decoration: none;
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #3F96CD;
    background: transparent;
    color: #3F96CD;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.btnAddProduct:hover {
    background: #3F96CD;
    color: white;
}